[Desktop Entry]
Version=1.0
Type=Application
Name=launcher
Comment=
Exec=xfce4-session-logout
Icon=start-here
Path=
Terminal=false
StartupNotify=false
